name: build

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: test latest version
      uses: asdf-vm/actions/plugin-test@v3
      with:
        command: kn version
    - name: test versions <= 1.0.0
      uses: asdf-vm/actions/plugin-test@v3
      with:
        version: latest
        command: kn version
