name: release

on:
  push:
    branches:
    - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
    - uses: GoogleCloudPlatform/release-please-action@v3.1
      with:
        release-type: simple
